.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background-color: rgb(220, 219, 219);
}

.buttons {
    margin-top: 10px;
    display:flex;
    justify-content: center;
    
}

.board {
    background-color: white;
    height: 500px;
    width: 500px;
    display: grid;
    border: 2px solid black;
    
}